# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://bqwdfhvhyiqfxmxzhoph.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJxd2RmaHZoeWlxZnhteHpob3BoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MDM5NzgsImV4cCI6MjA5MTE3OTk3OH0.4qvmVQ__LvJvn_Iwn9pbrGDf9VdOG6KehPqu-TGa-FU
PROJECT_REF=your-project-ref

# Analytics (PostHog)
EXPO_PUBLIC_POSTHOG_API_KEY=phc_your-key

# Error Tracking (Sentry)
EXPO_PUBLIC_SENTRY_DSN=https://fb4be1a377ef1c72d3aa467132ade02d@o4511192632131584.ingest.de.sentry.io/4511192634359888
SENTRY_DSN=https://06fe38e1a0f4b62231ef3ca8d61ecf62@o4511192632131584.ingest.de.sentry.io/4511192645304400

# Server
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
SERVER_URL=http://localhost:3001
